.aboutUs{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #0033B5;
    position: relative;
}
.sideImage{
    background: url(../images/basketball-manager-clipart-8.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 17vh;
    height: 85vh;
    width: 33vw;
    z-index: 3;
}
.about{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    /* margin-left: 12vw; */
    height: 80vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'BigNoodleTitling';
}
.about h1{
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 0;
    margin-bottom: 2vh;
}
.about p{
    width: 40vw;
    height: 35vh;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
.watch_teaser{
    width: 180px;
    height: 60px;
    border-radius: 31px / 30px;
    background-color: white;
    line-height: 60px;
    text-align: center;
    color: #1F5DF7;
    font-size: 33px;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}

.watch_teaser:hover
{
    background-color: #1F5DF7;
    color: white;
}