.aboutUs{
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: flex-start;
    background: #0033B5;
    position: relative;
}
.sideImage{
    background: url(../images/basketball-manager-clipart-8.png);
    background-size: cover;
    margin-top: 17vh;
    background-repeat: no-repeat;
    height: 85vh;
    width: 33vw;
}
.about{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 12vw;
    height: 85vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'BigNoodleTitling';
}
.about h1{
    font-size: 80px;
    letter-spacing: 3px;
    margin-bottom: 0;
    margin-bottom: 2vh;
}
.about p{
    width: 40vw;
    height: 35vh;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
.watch_teaser{
    width: 180px;
    height: 60px;
    border-radius: 31px / 30px;
    background-color: white;
    line-height: 60px;
    text-align: center;
    color: #1F5DF7;
    font-size: 33px;
}