.aboutUs{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* background: #0033B5; */
    position: relative;
}
.sideImage{
   
    margin-top: 17vh;
    height: 85vh;
    width: 33vw;
    z-index: 3;
}

#player2
{
    background: url(../images/federer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 13vh;
}

.about {        
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    /* margin-left: 12vw; */
    height: 80vh;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'BigNoodleTitling';
}
.about h1{
    font-size: 55px;
    letter-spacing: 3px;
    margin-bottom: 0;
    margin-bottom: 2vh;
    font-weight: 100;
}
.about p{
    width: 40vw;
    height: 35vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5vh;
    /* line-height: 1.5em; */
}
.watch_teaser{
    width: 180px;
    height: 60px;
    border-radius: 31px / 30px;
    /* background-color: white; */
    line-height: 60px;
    text-align: center;
    color:white;
    border: 2px solid white;
    font-size: 33px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.watch_teaser a{
    color:inherit;
    text-decoration: none;
}

.watch_teaser:hover
{
    background-color: white;
    color: #FF156A;
    border: 2px solid #FF156A;
}

@media (max-width:500px)
{
    .about p
    {
        font-size: 1em;
        width: 80vw;
        text-align: center;
    }

    .about
    {
        margin-top: 12vh;
    }

    .about h1 
    {   
        font-size: 40px;
        margin-bottom: -3vh;
    }
}

@media (max-width:370px)
{
    .about p
    {
        font-size: 0.7em;
        width: 80vw;
        text-align: center;
    }

    .about h1 
    {
        font-size: 20px;
        margin-bottom: -8vh;
    }

    .watch_teaser
    {
        margin-top: -15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 150px;
        font-size: 1em;
    }
}

@media (max-width:1050px) and (min-width:815px)
{
.about p 
{
    font-size: 1.7em;
}
}