body, html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

::-webkit-scrollbar
{
	display: none;
}


.wrapper{
    width: 100vw;
    /* height: 100vh; */
    overflow: scroll;
    overflow-x: hidden; 
    transition: 1s cubic-bezier(0.5,0,0.5,1);
    scroll-snap-type: mandatory;
}

.section
{
    /* scroll-snap-align: start; */
}

@font-face{
    font-family: 'Aero';
    src: url('../fonts/Aero.ttf');
}
@font-face{
    font-family: 'BigNoodleTitling';
    src: url('../fonts/big_noodle_titling.ttf');
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}
@font-face{
    font-family: 'Segoe';
    src: url('../fonts/Segoe\ UI.woff');
}
.nav-bar{
    height: 15vh;
    width: 100vw;
    font-size: 1.7em;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    /* padding-top: 20px; */
    letter-spacing: 3px;
    font-family: BigNoodleTitling;
    position: absolute;
    z-index: 4;
}
.logo{
    background: url('../images/BOSM-LOGO_white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    height: 100px;
    width: 100px;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.player {
    position: relative;
    left: 47%;
    top: 59%;
    transform: translate(-50%,-50%);
    background-image: url('../images/player.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 512px;
    height: 80%;
    z-index: 5;
}

.bosm-heading {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('../images/bosm.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75vw;
    height: 60vh;
}

.back-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    background-image: url('../images/GLORY.png');
    background-size: cover;
    background-position: center;
    width: 116%;
    height: 95%;
}
.landing-page
{
    position: relative;
    height:100vh;
    background: #0033B5;
    overflow: hidden;
}
.dates {
    position: absolute;
    top: 58%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-image: url('../images/dates.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 9vh;
    width: 16vw;
    
}

.bottom {
    width: 70%;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.scroll-icon{
    height: 30px;
    width: 33px;
    color: #fff;
    /* border: 2px solid white; */
    background-image: url('../images/mouse.png');
    z-index: 5;
    background-size: cover;
    background-position: center;
    /* border-radius: 7px; */
    /* display: flex; */
    /* justify-content: center;  */
}



.days-left {
    font-size: 1.6em;
    letter-spacing: 8px;
    color: white;
    font-weight: bold;
    font-family: BigNoodleTitling;
}

.net-links > span {
    font-size: 1.6em;
    margin-right: 29px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.social-icons a
{
    text-decoration: none;
    color: white;
}

.scroll-downs {
    width :8px;
    height: 35px;
    z-index: 5;
}
.mousey {
  width: 3px;
  padding: 6px 10px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 1;}
}

.navigator{
    height: 33vh;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 50%;
    left: 95%;
    transform: translate(-50%,-50%);
}

.navigation {
    width: 12px;
    height: 12px;
    /* border: 2px solid white; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.navigation > .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background-color: white;
}

.navigation:nth-child(1) {
    border: 4px solid white;
}

.contact-us {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #0033B5;
    font-family: 'Roboto', sans-serif;
}

.contact-wrapper {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.contact {
    height: 33vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px 40px 60px;
}

.contacts-image {
    background-image: url('../images/dvm.png');
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: cover;
}

.contacts-text {
    font-size: 1.2em;
    margin-top: 5px;
}

.bosm-des,.arrow {display: none;}

@media (max-width:500px)
{
   .nav-bar > .links{
        display: none;
    }

    .player{
        width: 70vw;
        height: 70vh;
        position: absolute;
        top: 47%;
        left: 42%;
        transform: translate(-50%,-50%);
    }

    .bosm-heading{
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%; 
    }

    .back-text
    {
        width: 120vw;
        height: 70vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .navigation{
        display: none;
    }

    .bottom{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .bottom > .net-links{
        display: none;
    }

    .bottom > .days-left{
        font-size: 0.7em;
    }

    .bottom > .scroll-downs{
        display: none;
    }

    .bosm-des{
        width: 100%;
        height: 10vh;
        position: relative;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .bosm-des > span{
     color: white;
     font-size: 2em;
     font-family: BigNoodleTitling;
     letter-spacing: 7px;
    }

    .bosm-des > .box {
        width: 10px;
        height: 10px;
        background: white;
        border-radius:50%; 
    }

    .logo {
        height: 60px;
        width: 60px;
    }

    .sideImage {
        display: none;
    }

   .bottom {
       position: fixed;
       z-index: 5;
   }

   .arrow {
       width: 5vh;
       height: 5vh;
       position: absolute;
       top: 90%;
       left: 50%;
       transform:translate(-50%,-50%);
       /* border: 2px solid black;  */
       z-index: 5;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 1.2em;
       color: white;
       animation: anim 2s ease-in-out infinite;
   }

   .dates
   {
    position: absolute;
    top: 47%;
    left: 77%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-image: url(../images/dates.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 9vh;
    width: 30vw;
   }

   @keyframes anim {
       0%{opacity: 1;}
       50%{opacity: 0;}
       100%{opacity: 1;}
   }
   
}

@media (max-width:400px)
{
   .player{
       width: 50vw;
       height: 50vh;
   }

   .bosm-heading{
       width: 70%;
   }

   .bosm-des > span {
       font-size: 1.6em;
   }

   .days-left{
       font-size: 0.5em;
   }

   .dates
   {
    position: absolute;
    top: 47%;
    left: 74%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-image: url(../images/dates.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 9vh;
    width: 20vw;
   }
}

