html,
body 
{
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

body 
{
    /* background: #8e9eab; */
    /* background: black; */
	/* background: linear-gradient(to left, #8e9eab, #eef2f3); */
	font-family: 'Raleway', sans-serif;
}
@font-face {
	font-family: "bigNoodleTilting";
	src: url("../fonts/big_noodle_titling.ttf");
}

.loader
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background: black;
}
.loader_wraper{
	background: black;
}

.all 
{
	fill: none;
	stroke-miterlimit: 10;
	stroke-width: 5px;
    stroke: none;
    transform: translateX(20px);
}

#c1{
    transform:translateX(27px);
}
#c3{
    transform:translateX(17px);
}
#c2{
    transform: translate(20px,15px);
}
#black{
    position: absolute;
    transform: translate(-2.8vw,3.5vw);
    /* transition: opacity ease-in 1s; */
    opacity: 0;
}
.layer1{
    position: relative;
    top:0;
    left:0;
}
#heading{
	position: absolute;
	color: white;
	top: 20vh;
	width:100vw;
	font-size: 3vw;
	transform: translateX(-2.2vw);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: bigNoodleTilting;
}

/* .loader-1 {
	width: 100vw;
	height: 100vh;
} */

.loader-2 {
	height:28.5vw;
	width:28.5vw;
}

@media (max-width: 500px) {
	#heading{
		top:30vh;
		font-size: 2em;
	}

	.loader-1 {
		transform-origin: 46% 50%;
		transform: scale(2);
	}

	#black{
		transform-origin: 46% 50%;
		transform: translate(-3.5vw,7vw) scale(2.1);
	}
}