.container{
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: flex-start;
    background: #0033B5;
    position: relative;
}
.sideImage{
    background: url(../images/basketball-manager-clipart-8.png);
    background-size: contain;
    background-position: center;
    margin-top: 17vh;
    background-repeat: no-repeat;
    height: 85vh;
    width: 33vw;
    z-index: 3;
}
.register{
    margin-top: 10vh;
    height: fit-content;
    width: 39vw;
    font-family: 'BigNoodleTitling';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin-left: 11vw;
}
.register h1{
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 0;
    margin-bottom: 2vh;
    color: #F5F5F5;
}
.register>div{
    width:100%;
    border-bottom: 1px solid #F5F5F5;
}
.register div.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
}
.register div.name{
    width: 100%;
    margin-top: 5%;
    border: none;
}
.register div.name .first{
    float: left;
    width: 40%;
    border-bottom: 1px solid #F5F5F5;
}
.register div.name .last{
    float: right;
    width: 40%;
    border-bottom: 1px solid #F5F5F5;
}
.register div.email{
    margin-top: 6%;
}
.register div.name .last input{
    width: 100%;
}
.register input{
    background: transparent;
    border: none;
    height: 40px;
    width: 90%;
    font-family: Segoe;
    font-size: 22px;
    color: white;
    letter-spacing: 2px;
}
.register input::placeholder{
    font-size: 22px;
    color: #F5F5F5;
    font-family: Roboto;
    font-family: Segoe;
    letter-spacing: 1.5px;
}

.register div.button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.register div.name{
    margin-top: 3%;
}
.register div.contact-no,.register div.college{
    margin-top: 5%; 
}

.button-logo{
    width: 180px;
    height: 60px;
    border-radius: 31px / 30px;
    background-color: white;
    line-height: 60px;
    text-align: center;
    color: #1F5DF7;
    font-size: 33px;
    margin-top: 40px;
    transition: all 0.3s ease-in-out;
}

.button-logo:hover{
    background: #1F5DF7;
    color: white;
}

.register img{
    height: 25px;
    width: 32px;
    transform: translateY(6px);
    margin-right: 30px;
}
.register .contact-no img{
    height: 30px;
    width: 30px;
} 

@media (max-width:500px)
{
.container
{
    align-items: center;
}    
.register
{
    width: 78vh;
    margin-top: 16vh;
    margin-left:11vw;
    margin-right: 11vw; 
}

.register h1 
{
    font-size: 30px;
}

.register div.button
{
    margin: 0;
}

.button-logo
{
    margin: 20px;
}

img 
{
    display: none;
}

}

@media (max-width:400px)
{
    .register div.name .first{
        float: none;
        width: 40%;
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 2px;
    }
    .register div.name .last{
        float: none;
        width: 40%;
        border-bottom: 1px solid #F5F5F5;
    }
    .register input{
        
        width: 100%;
        
    }
}

