<html>
    <head>
        <title>BOSM 2019</title>
        <link rel="stylesheet" href="../src/css/app.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    </head>
    <body>
        <div class="wraper">
            <div class="nav-bar">
                <span class="links">ABOUT US</span>
                <span class="links">SPONSORS</span>
                <span class="icon"><div class="logo"></div></span>
                <span class="links">SUBSCRIBE</span>
                <span class="links">CONTACT US</span>
            </div>
            <div class="aboutUs">
                <div class="sideImage"></div>
                <div class="about">
                    <h1>ABOUT US</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque blanditiis ab natus, omnis ipsum reprehenderit nesciunt praesentium aliquam veniam enim velit ipsam voluptatibus fugiat doloribus corporis sunt, voluptatem assumenda provident!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae repellat quo rerum! Nemo tenetur laudantium error unde dolor quidem fuga ad, distinctio praesentium soluta ipsam, doloribus dolorum consequuntur. Inventore, quod!
                    </p>
                    <div class="watch_teaser">WATCH TEASER</div>
                </div>
            </div>
        </div>
         
    </body>
</html>