<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BOSM 2019</title>
            <link rel="stylesheet" href="../src/css/app.css" type="text/css">
            <link rel="stylesheet" href="../src/css/about.css" type="text/css">
            <link rel="stylesheet" href="../src/css/register.css" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body onload="updateCountdown()">
        <div class="nav-bar">
            <div class="links" onclick="navigate(2)">
                <span>ABOUT US</span>
            </div>
            <div class="links">
                <span>SPONSORS</span>
            </div>
            <div class="icon" >
                <div class="logo"></div>
            </div>
            <div class="links" onclick="navigate(3)">
                <span>REGISTER</span>
            </div>
            <div class="links" onclick="navigate(4)">
                <span>CONTACTS</span>
            </div>
        </div>
            
        <div class="wrapper">

            <div class="landing-page">
                    <div class="player" id="player"></div>
                    <div class="bosm-heading"></div>
                    <img src="../src/images/GRIT.png" class="back-text">
                    <div class="dates"></div>
                    <!-- <div class="bosm-des">
                        <span>Grits</span>
                        <div class="box"></div>
                        <span>Guts</span>
                        <div class="box"></div>
                        <span>Glory</span>
                    </div> -->
                    <div class="bottom">
                        <div class="net-links">
                            <span class="social-icons"><a href="#"><i class="fab fa-facebook"></i></a></span>
                            <span class="social-icons"><a href="#"><i class="fab fa-twitter"></i></a></span>
                            <span class="social-icons"><a href="#"><i class="fab fa-instagram"></i></a></span>
                        </div>
                        <div class="scroll-downs">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <div class="days-left"> 
                            <span id="daysLeft"></span> Days Left
                        </div>  
                    </div>
                    <div class="arrow"><i class="fas fa-angle-down"></i></div>

            </div>

            <div class="aboutUs">
                    <div class="sideImage" id="player2"></div>
                    <div class="about">
                        <h1>ABOUT US</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque blanditiis ab natus, omnis ipsum reprehenderit nesciunt praesentium aliquam veniam enim velit ipsam voluptatibus fugiat doloribus corporis sunt, voluptatem assumenda provident!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae repellat quo rerum! Nemo tenetur laudantium error unde dolor quidem fuga ad, distinctio praesentium soluta ipsam, doloribus dolorum consequuntur. Inventore, quod!
                        </p>
                        <div class="watch_teaser">WATCH TEASER</div>
                    </div>
            </div>

            <div class="container">
                    <div class="sideImage" id="player3"></div>
                    <div class="register">
                        <div class="heading"><h1>REGISTER</h1></div>
                        <div class= "name">
                            <span class="first"><input placeholder="First Name" style="outline:none;" id="first-name"></span>
                            <span class="last"><input placeholder="Last Name" style="outline:none;" id="last-name"></span>
                        </div>
                        <div class="email"><img src="../Registration_assets/message_icon.png"><input placeholder="Email Address" style="outline:none;" id="email"></div>
                        <div class="contact-no"><img src="../Registration_assets/contact_icon.png"><span id="contact-no"></span><input placeholder="Contact No" style="outline:none;" id="contact-number"></div>
                        <div class="college"><img src="../Registration_assets/message_icon.png"><span id="college"></span><input placeholder="College" style="outline:none;" id="college-name"></div>
                        <div class="button"><span></span><div class="button-logo">SUBMIT</div></div>
                    </div>
            </div>

            <div class="contact-us">
                <div class="contact-wrapper">
                    <!-- ------ -->
                    <!-- contact elements appended using script -->
                    <!-- ------ -->
                </div>
            </div>
            
        </div>
        <div class="navigator">
            <div class="navigation"><div class="dot" onclick="navigate(1)">.</div></div>
            <div class="navigation"><div class="dot" onclick="navigate(2)">.</div></div>
            <div class="navigation"><div class="dot" onclick="navigate(3)">.</div></div>
            <div class="navigation"><div class="dot" onclick="navigate(4)">.</div></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../src/js/scroll.js"></script>
        <script src="../src/js/main.js"></script>
    </body>
</html>