<html>
    <head>
        <title>BOSM 2019</title>
        <link rel="stylesheet" href="../src/css/app.css" type="text/css">
        <link rel="stylesheet" href="../src/css/register.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    </head>
    <body>
        <div class="wraper">
            <div class="nav-bar">
            </div>
            <div class="container">
                <div class="sideImage"></div>
                <div class="register">
                    <div class="heading"><h1>REGISTER</h1></div>
                    <div class= "name">
                        <span class="first"><input placeholder="First Name"></span>
                        <span class="last"><input placeholder="Last Name"></span>
                    </div>
                    <div class="email"><input placeholder="Email Address"></div>
                    <div class="contact-no"><input placeholder="Contact No"></div>
                    <div class="college"><input placeholder="College"></div>
                </div>
            </div>
        </div>
         
    </body>
</html>